---
import "../css/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MagicAid</title>
		<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script> 

	</head>
	<body>
	
		<header class="Header">
			<div class="Logo"><img src="/img/SVG/Logo.svg" alt="Logo" class="Logo"/></div>
			<div class="navigation">
			<!-- De skal ikke være klikbare eller noget, det skal bare ligne at den side vi er på er aktiv? måske have hover effekt	 -->
			 <ul>
				<li class="item">Om KidsAid</li>
				<li class="item">Indsamling</li>
				<li class="item">For Børnene</li>
				<li class="item">Nyhedsbrev</li>
				<li class="item">Kontakt Os</li>
				<li class="DonerKnap">Doner her</li>
			 </ul>
			</div>			
		</header>


		<div class="Sparklebig1"></div>
		<div class="Sparklebig2"></div>
		<div class="Sparkle1"></div>
		<div class="Sparkle2"></div>
		<div class="Sparkle3"></div>
		<div class="Sparkle4"></div>
		<div class="Sparkle5"></div>
		<div class="Sparkle6"></div>
		<div class="Sparkle7"></div>
		<div class="Sparkle8"></div>



		<!--<div class="SectionYWbig"></div>
		<div class="SectionPRPLbig"></div>
		<div class="SectionYWsmall"></div>
		<div class="SectionPRPLfooter"></div> -->

		


<main>

		<section class="Hero_section">
			<div class="HeroText">
				<div><h1>Magic Aid</h1></div>
				<div><p>MagicAid er KidsAid talentfulde tryllekunstnere der hver dag prøver at skabe magi og leg i sårbare børns hverdag. Donér til MagicAid og vær med til at sikre, at magien aldrig forsvinder, fordi alle børn fortjener at opleve glæde og fortryllelse, selv når livet er svært.</p></div>
				<div class="Button">Doner her</div>
			</div>
			<div class="HeroGraphic">
				<img src="/img/SVG/Hero_girl.svg" alt="hero Graphic of girl flying" class="HeroImg">
			</div>
			
		</section>

		

		<!-- 
		Den her section er gul baggrund vektor 
		 -->
		
		<section class="MereInfo_section">
			<div class="body_grid">
			<div class="grid-1_1">
				<div><img src="/public/img/SVG/GirlBunny.svg" alt="Pige der krammer kanin bamse"/></div>
				<div>
					<div><h3>Om Os og Vores Mål</h3></div>
					<div><p>Magic Aid er en velgørende organisation, som er drevet af en simpel, men stærk mission: at bringe lys, håb og glæde til børn, der står over for store udfordringer. Gennem magiske forestillinger, trylleshows og særlige oplevelser skaber Magic Aid et frirum, hvor børn kan glemme hverdagens bekymringer og træde ind i en verden fyldt med fantasi og forundring.</p></div>
				</div>
		   </div>

			<div class="grid-1_1">
				<div><p>Når et barn bliver alvorligt syg, rammes hele familien, og derfor sætter vi fokus på at skabe unikke oplevelser for både barnet, søskende og forældre. Vi gør det muligt for familierne at være sammen om positive øjeblikke og få oplevelser, de kan mindes længe efter. Organisationens mål er at skabe små magiske øjeblikke, der kan løfte humøret og inspirere børn og voksne til tro på fremtiden.</p></div>
				<div><img src="/public/img/SVG/MagicChild.svg" alt="Billede af barn med der tryller"/></div>
				
		</div>
	</div>


		</section>


		<section class="gallainfo_section">
			<div class="body_grid">
			
			<div><h3>Kom Med til en Magisk Charity Aften</h3></div>
			<div class="grid-1_1">
			<div class="GallaText">
				<div><p>Kom med til Magic Charity den 1. november 2024 på The Plant i København, hvor vi byder på en luksuriøs 3-retters menu, udsøgte vine, fantastisk underholdning og et afterparty, der holder festen kørende til langt ud på aftenen.
					Magic Charity er en helt særlig velgørenhedsbegivenhed, hvor formålet er at samle penge ind til fordel for syge og sårbare børn i Danmark. </p></div>
				<div class="Button">Køb Billet</div>
			</div>
			<div><img src="/public/img/SVG/galla.svg" alt="Billede fra Galla"/></div>
		</div>
</div>
		</section>

		<!-- Den her section er lilla baggrund vektor -->
		<section class="MotionGraphic_section">
			<div class="body_grid">
			
			<div><h3 class="CenterText">Alle børn fortjener en Magisk hverdag</h3></div>
			<div> 
				<dotlottie-player src="https://lottie.host/75b2ed5f-744e-4430-a9ad-3c8a2adaa6a7/jcxvfXao8W.json" background="transparent" speed="1" class="Lottie" loop autoplay></dotlottie-player></div>
				</div>
		</section>

		<section class="OmTryllekunstnere_section">
			<div class="body_grid">
			<div><img src="/public/img/SVG/Magicians.svg" alt="Grafik af tryllekunstnere" class="trylleimg"/></div>
			<div><h3>Vores Tryllekunstnere</h3></div>
			<div><p>KidsAids tryllekunstnere bringer et glimt af eventyr og magi til enhver af de sårbare børns øjne. Med vores tryllekunstnere kan vi forvandle hospitalsophold og sygdomsforløb til oplevelser fyldt med latter og magiske øjeblikke. Det er en uvurderlig gave til børnene og en påmindelse om, at der stadig findes magi og glæde, selv i svære tider.</p></div>
		</div>
		</section>

		<!-- Den her section er gul baggrund vektor -->
		<section class="Joinmagi_section">
			<div class="body_grid">
			<h3>Bliv tryllekunstner for Magic Aid</h3>
			<p>Har du en passion for at fortrylle og skabe glæde? Bliv tryllekunstner for Magic Aid og gør en forskel i børns liv! Hos MagicAid skaber vi magiske øjeblikke for børn på hospitaler og til KidsAids arrangementer over hele landet. Bliv en del af MagicAid-teamet, og vær med til at gøre en forskel for syge og sårbare børn i Danmark.</p>
			<div class="Button">Læs Mere Her</div>
			</div>
		</section>

		<section class="Instaopslag_section">
			<div class="body_grid">
			<div class="CenterText"><h3>Find mere trylleri på vores Instagram</h3></div>
			<div class="instaOpslag">
				<div><img src="/img/SVG/Insta1.svg" class="insta"/></div>
				<div><img src="/img/SVG/Insta2.svg" class="insta"/></div>
				<div><img src="/img/SVG/Insta3.svg" class="insta"/></div>
				<div><img src="/img/SVG/Insta4.svg" class="insta"/></div>
			</div>
			</div>
		</section>

	</main>

	

		<!-- Footer er lille vektor baggrund -->
		<footer>
			<div class="body_grid">
			<div class="footertext">
			<div>
				<h4>Om Os</h4>
				<p>Nyheder</p>
				<p>KidsAid Ambassadører</p>
				<p>KidsAid Organisation</p>
			</div>
			<div>
				<h4>Kontakt Os</h4>
				<p>Emma Iben Rosenkrantz Holm:</p>
				<p>EB@KidsAid.dk</p>
				<p>TLF: +45 2025 1987</p>
			</div>
			<div>
				<h4>Regnskaber</h4>
				<p>Overskudserklæring 2021</p>
				<p>Ledelsesberetning 2022</p>
				<p>Indsamlingsregnskaber 2023</p>
				<p>Årsrapport 2022</p>
			</div>
		</div>
		<div class="socialmedia"><img src="/img/SVG/socialmediaicons.svg"/></div>
	</div>
		</footer>
	</body>

<style>



.insta:hover{
	transform: scale(1.05);
	transition: ease-in-out 0.2s;
	cursor: pointer;
}


	.Hero_section{
		display: grid;
		grid-template-columns: 3fr 5fr;
		justify-content: center;
		align-items: center;
		gap:2em;
		z-index: 20;
		margin-left: 60px;
		margin-right: 60px;
		margin-bottom: 100px;
		margin-top: 100px;
	}

		.MereInfo_section {
		background-color: var(--gul-light);
		z-index: 100;
	}

	.MotionGraphic_section{
		background-color: var(--lilla-light);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.OmTryllekunstnere_section{
		text-align: center;
	}

	.trylleimg{
		padding-bottom: 40px;
	}

	.Joinmagi_section{
		background-color: var(--gul-light);
	}

	.grid-1_1{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2em;
		align-items: center;
	}

	.Button {
		background-color: var(--gul-mørk);
		padding: 15px 40px;
		border-radius: 30px;
		font-weight: 550;
		transition: box-shadow 0.3s ease, transform 0.3s ease;
		cursor: pointer; 
		 font-family: "Poppins";
		 display: inline-block;
		 font-weight: 600;
		
	}

	.Button:hover {
		box-shadow: 0 0 20px 5px rgba(252, 216, 118, 0.868); 
		transform: scale(1.05);
	}

	.CenterText{
		text-align: Center;
	}

	
	.Logo {
		width: 150px;

	}

	header ul li {
		list-style: none;
		display: inline;
		margin-left: 1em;
		margin-right: 1em;
		cursor:pointer;
	}

	header ul li.item:hover {
		color: var(--lilla-light);
		border-bottom: 2px solid var(--lilla-light);
		padding-bottom: 2px;
	}

	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-right: 60px;
		margin-left: 60px;
	}

	.DonerKnap{
		background-color: var(--gul-mørk);
		padding: 15px 40px;
		border-radius: 30px;
		font-weight: 600;
		transition: box-shadow 0.3s ease, transform 0.3s ease;
		cursor: pointer; 

	}

	.DonerKnap:hover {
		box-shadow: 0 0 20px 5px rgba(252, 216, 118, 0.868); 
		transform: scale(1.05);
	}

	.instaOpslag{
		display: flex;
		flex-direction: row;
	}

	.Lottie {
		width:50vw;
		border-radius: 20px;
	}

	footer {
		background-color: var(--lilla-light);
		display: flex;
		flex-direction: column;
		align-items: center;
		color: white;
	}

	
	.footertext{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.footertext div {
		text-align: center;
	}

	
.Sparklebig1{
	background-image: url('/img/SVG/Sparklebig1.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 6vw; 
    height: 6vw; 
    position: absolute; 
    top: 200px; 
    left: 10vw; 
    z-index: 10;}

	.Sparklebig2{
	background-image: url('/img/SVG/Sparklebig2.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
	width: 6vw; 
    height: 6vw; 
    position: absolute; 
    top: 750px; 
    right: 10vw; 
    z-index: 10;}

	.Sparkle1 {
		background-image: url('/img/SVG/Sparklesolo1.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
	width: 6vw; 
    height: 6vw;  
    position: absolute; 
    top: 1880px; 
    right: 15vw; 
    z-index: 10;
	}

	.Sparkle2 {
		background-image: url('/img/SVG/Sparkletriple1.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 80px; 
    height: 80px; 
    position: absolute; 
    top: 1950px; 
    right: 12vw; 
    z-index: 10;
	}

	.Sparkle3{
	background-image: url('/img/SVG/Sparklesolo2.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
	width: 6vw; 
    height: 6vw;  
    position: absolute; 
    top: 2360px; 
    left: 10vw; 
    z-index: 10;}

	.Sparkle4{
	background-image: url('/img/SVG/Sparkletriple2.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 5vw; 
    height: 5vw; 
    position: absolute; 
    top: 2300px; 
    left: 7vw; 
    z-index: 10;}

	.Sparkle5{
	background-image: url('/img/SVG/Sparklebig1.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 8vw; 
    height: 8vw; 
    position: absolute; 
    top: 3100px; 
    left: 6vw; 
    z-index: 10;}

	.Sparkle6{
	background-image: url('/img/SVG/Sparklebig2.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
	width: 8vw; 
    height: 8vw; 
    position: absolute; 
    top: 2700px; 
    right: 6vw; 
    z-index: 10;}

	.Sparkle7{
	background-image: url('/img/SVG/Sparkletriple1.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
	width: 6vw; 
    height: 6vw;  
    position: absolute; 
    top: 4900px; 
    right: 6vw; 
    z-index: 10;}

	.Sparkle8{
	background-image: url('/img/SVG/Sparkletriple2.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
	width: 6vw; 
    height: 6vw; 
    position: absolute; 
    top: 5500px; 
    left: 6vw; 
    z-index: 10;}

	.socialmedia{
		max-width: 200px;
	}



.body_grid{
	margin-left: 240px;
	margin-right: 240px;
	padding-top: 100px;
	padding-bottom: 100px;
}

@media (max-width:1200px){

	.body_grid{
	margin-left: 60px;
	margin-right: 60px;
	padding-top: 60px;
	padding-bottom: 60px;
	}
	

}

@media (max-width:970px) {

	.Hero_section {
		display: flex;
		flex-direction: column;
	}
	.grid-1_1{
		display: flex;
		flex-direction: column;
	}

	.Lottie {
		width: 90vw;
	}

	.SectionPRPLfooter {
		top: 7450px;
	}

	.instaOpslag {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	header{
		margin-left: 20px;
	}
}


@media (max-width:500px) {

	h1 {
    font-size: var(--font-size-h1-mobile);
    line-height: var(--line-height-45);
  }

  h3{
  font-size: var(--font-size-h2-mobile);
  line-height: var(--line-height-30);
  }


.Hero_section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.grid-1_1 {
display: flex;
flex-direction: column;

}

.Lottie  {
	width: 90vw;
}

	.instaOpslag {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.footertext {
		display: flex;
		flex-direction: column;
		padding-top:2em;
	}


	.SectionPRPLfooter{
		top: 7300px;
		height: 1350px;
	}

	.Sparklebig1 {
		width: 60px;
		height: 60px;
		top: 150px;
		left: 20px;
	}

	.Sparklebig2 {
		width: 60px;
		height: 60px;
		top: 650px;
		right: 20px;
	}

	.Sparkle1 {
		display: none;
	}

	.Sparkle2 {
		width: 60px;
		height: 60px;
		left: 10px;
		top: 2650px;
	}

	.Sparkle3 {
		display:none;}

	.Sparkle4 {
		display: none;
	}

	.Sparkle5 {
		display: none;
	}

	.Sparkle6{
		width: 60px;
		height: 60px;
		right: 10px;
		top: 2760px;
	}

	.Sparkle7 {
		display:none;
	}

	.Sparkle8 {
		display:none;
	}

}