@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caramel";
  src: url("fonts/Caramel-Regular.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.hero_grid {
  margin: 60px;
}

.body_grid {
  margin: 240px;
}

.mobile_grid {
  margin: 40px;
}

html {
  /*Colors*/
  --lilla-dark: #543787;
  --lilla-light: #9b88d9;

  --gul-mørk: #ffc865;
  --gul-light: #ffebae;

  --blå-light: #d4e0f0;

  /* Typography */
  --font-size-h1: 128px;
  --font-size-h2: 64px;
  --font-size-h3: 40px;
  --font-size-h4: 28px;
  --font-size-p-hero: 24px;
  --font-size-p-bold: 20px;
  --font-size-p: 20px;
  --font-size-h1-mobile: 64px;
  --font-size-h2-mobile: 20px;
  --font-size-p-mobile: 20px;

  --line-height-96: 96px;
  --line-height-45: 45px;
  --line-height-40: 40px;
  --line-height-30: 30px;
}

main {
  color: var(--lilla-dark);
  margin-right: 240px;
  margin-left: 240px;
}

body {
  background-color: var(--blå-light);
  color: var(--lilla-dark);
}

/*Font Family*/
h1,
h1.mobile {
  font-family: "Caramel";
}

h2,
h2.mobile,
h3,
h4,
p,
a,
li,
p.bold,
p.hero,
p.mobile,
a {
  font-family: "Poppins";
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-30);
}

/*Font Size & Weight*/
h1.mobile {
  font-size: var(--font-size-h1-mobile);
  line-height: var(--line-height-45);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-96);
  font-weight: 600;
}

h2.mobile {
  font-size: var(--font-size-h2-mobile);
  line-height: var(--line-height-30);
  font-weight: 600;
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-45);
  font-weight: 600;
}

h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-45);
  font-weight: 600;
}

p {
  font-size: var(--font-size-p);
  line-height: var(--line-height-30);
}

p.bold {
  font-size: var(--font-size-p-bold);
  line-height: var(--line-height-40);
  font-weight: 500;
}

p.hero {
  font-size: var(--font-size-p-hero);
  line-height: var(--line-height-40);
}

p.mobile {
  font-size: var(--font-size-p-mobile);
  line-height: var(--line-height-30);
}

/*Misc*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
